.modal-header {
    padding-bottom: 10px;
}

.modal-footer {
    text-align: right;
}

.modal-action-button {
    margin-right: 30px;
    background-color:green;
    color: white;
}

.modal-cancel-button {
    background-color: rgb(117, 115, 117);
    color: white;
}

.modal-body {
    width: 100%;
    height: 100%;
}
  
.inputControl {
    width: 100%;
}