<mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
        <mat-card-title><b>{{ contact.name.charAt(0) | uppercase }}</b></mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-card-content">
        <div>
            <h4>{{contact.name}}</h4>
            <p>{{contact.email}}</p>
            <p>{{formatPhone(contact.phone)}}</p>
        </div>
    </mat-card-content>

    <mat-card-actions class="mat-card-footer">
        <button mat-button>
            <mat-icon aria-hidden="false" class="blue-icon div-left" (click)="editContact($event, contact.id)">edit</mat-icon>
        </button>
        <button mat-button>
            <mat-icon aria-hidden="false" class="red-icon div-right" (click)="deleteContact($event, contact.id)">delete
            </mat-icon>
        </button>
    </mat-card-actions>

</mat-card>